@import 'styles/constants.scss';

.searchBar {
  display: flex;
  background-color: wheat;
  gap: .5rem;
  padding: 0.5rem 0.7rem;
  border-radius: $border-radius;
  width: 100%;
  max-width: 300px;

  input {
    border: none;
    outline: none;
    background-color: inherit;
    width: 100%;
    font-size: .9rem;
  }

  svg {
    font-size: 1.4rem;
  }
}


